<mat-toolbar class="navbar" color="primary">
    <span class="navbar-title">CLASSIFIER</span>

    <!-- This fills the remaining space of the current row -->
    <span class="navbar-buttons">
        <button class="navbar-button" [routerLink]="['/project/new']" mat-button>
            <mat-icon>add</mat-icon>
            Novo
        </button>
        <button class="navbar-button" [routerLink]="['/project']" mat-button>
            <mat-icon>assignment</mat-icon>
            Projetos
        </button>
        <button class="navbar-button" mat-button>
            <mat-icon>exit_to_app</mat-icon>
            Sair
        </button>
    </span>
</mat-toolbar>
