.navbar {
    padding: 0px 80px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .navbar-title {
        font-family: Righteous;
        text-transform: uppercase;
        font-size: 30px;
    }
    .navbar-buttons {
        .navbar-button {
            height: 120px;
            width: 120px;
            text-align: center;
            padding: 10px 20px;
            mat-icon {
                font-size: 30px;
                display: block;
                width: 100%;
            }
        }
    }
}
