<div class="row">
    <div class="col-md-8">
        <mat-card class="data-display">
            <div *ngFor="let column of columns">
                <h6 class="column-name">{{ column.name }}</h6>
                <p>{{ currentData[column.field] }}</p>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <button *ngFor="let label of labels" mat-button class="col-md-12">{{ label.name }}</button>
    </div>
</div>
