.stepper-buttons {
    text-align: right;
}

.step-content {
    padding: 0px 30px;
}
.action-column {
    width: 20px;
    vertical-align: middle;
}
::ng-deep table {

}

table {
    thead {
        background-color: #3333;
        th {
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            font-family: Roboto;
        }
    }
}
