<div id="project-edit" class="project-edit">
    <h4>{{ isEditMode ? 'Editar' : 'Adicionar' }} Projeto</h4>
    <mat-card>
        <mat-horizontal-stepper>
            <mat-step [stepControl]="projectForm">
                <ng-template matStepLabel label>Projeto</ng-template>
                <form [formGroup]="projectForm">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Título</mat-label>
                            <input matInput formControlName="title" required />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Descrição</mat-label>
                            <textarea matInput formControlName="description" required></textarea>
                        </mat-form-field>
                    </div>
                    <div class="stepper-buttons">
                        <button mat-button matStepperPrevious>Cancelar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="labelFormArray">
                <ng-template matStepLabel label>Rótulos</ng-template>
                <div class="step-content">
                    <form [formGroup]="labelFormArray">
                        <table matTable style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Chave</th>
                                    <th>Valor</th>
                                    <th class="action-column">
                                        <button mat-button (click)="addLabel()">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of labelFormArray.controls; let i = index">
                                <tr [formGroupName]="i">
                                    <td>
                                        <mat-form-field>
                                            <input matInput formControlName="name" required />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <input matInput formControlName="key" required />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <input matInput formControlName="value" required />
                                        </mat-form-field>
                                    </td>
                                    <td class="action-column">
                                        <button (click)="removeLabel(i)" mat-button>
                                            <mat-icon>remove_circle</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="stepper-buttons">
                    <button mat-button matStepperPrevious>Anterior</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel label>Dados</ng-template>
                <app-file-upload name="file" (onSuccess)="updateColumns($event)"></app-file-upload>

                <form [formGroup]="columnFormArray">
                    <table matTable style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Chave</th>
                                <th class="action-column">
                                    <button mat-button (click)="addColumn()">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of columnFormArray.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td>
                                    <mat-form-field>
                                        <input matInput formControlName="name" required />
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <mat-select [disabled]="!columns || columns.length === 0">
                                            <mat-option
                                                *ngFor="let column of columns"
                                                [value]="column"
                                                (click)="setColumnToForm(column, i)"
                                            >
                                                {{ column }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="action-column">
                                    <button (click)="removeColumn(i)" mat-button>
                                        <mat-icon>remove_circle</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>

                <div class="stepper-buttons">
                    <button mat-button matStepperPrevious>Anterior</button>
                    <button
                        (click)="submit()"
                        [disabled]="projectForm.invalid || labelFormArray.invalid || columnFormArray.invalid"
                        mat-button
                    >
                        Salvar
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>
