<ngx-masonry>
    <mat-card ngxMasonryItem *ngFor="let project of projects" class="project-item">
        <mat-card-header>
            <div mat-card-avatar class="author-image"></div>
            <mat-card-title class="project-title">{{ project.title }}</mat-card-title>
            <mat-card-subtitle calss="author-name">{{ project.author?.name }}</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image *ngIf="project.image" class="project-image" [ngStyle]="{ background: 'url(' + project.image + ')' }"></div>
        <mat-card-content>
            <p>
                {{ project.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['edit', project._id]">EDITAR</button>
            <button mat-button [routerLink]="[project._id, 'labeling']">CLASSIFICAR</button>
        </mat-card-actions>
    </mat-card>
</ngx-masonry>
