<div class="file-upload">
    <input type="{{ name }}" name="{{ name }}" ng2FileSelect [uploader]="uploader" />
    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Upload
    </button>
</div>
